<!DOCTYPE html>
<html>
<head>
	<title>Registration Info</title>
</head>
<body>
	<h2>Hi {{firstname}}</h2>
	<table border="1">
		<tr>
			<thead>
				<th>firstname</th>
				<th>lastname</th>
				<th>Email Id</th>
				<th>Address</th>
				<th>Phone Number</th>
				<th>Gender</th>
				<th>Languages known</th>
			</thead>
		</tr>
		<tr>
			<tboby>
				<td>{{firstname}}</td>
				<td>{{lastname}}</td>
				<td>{{email}}</td>
				<td>{{address}}</td>
				<td>{{phonenumber}}</td>
				<td>{{gender}}</td>
				<td>{{lang}}</td>
			</tboby>
		</tr>
	</table>
</body>
</html>						